* {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(7, 27, 36);
	background: linear-gradient(356deg, rgba(7, 27, 36, 1) 18%, rgba(20, 107, 89, 1) 88%);

	section {

		h1 {
			text-align: center;
			margin: 35px 0 20px 0;
			font-size: 45px;
            color: #fff;
            text-shadow: 2px 4px 12px #000000;
		}

		ul {

			li {
				list-style-type: none;
				font-size: 40px;
				display: flex;
				align-items: center;
				flex-direction: column;
				.copertaCarte {
					width: 100px;
				}
			}
		}
	}
}